# Editor, IDE and dev environment stuff
*~
.project
.settings

# Build files and directories
/coverage/
/doc/
/build/
/test-results.xml
/mpEnc_js-*.tgz
/.npm-build-deps
/contrib/*.pyc

# npm things, don't add these to .npmignore
/node_modules
/mpenc.js*
